.arrayContainer {
    min-height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    width: 1.5rem;
    color: black;
}