.arrayContainer {
    /* min-height: 60vh; */
    min-height: 45rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 3rem;
}
.bar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
}